@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #be2726;
  --color-secondary: #575757;
  --color-tertiary: #727272;
  --color-quaternary: #9c9c9c;
  --color-accent: #e53935;
  --color-error: #e53935;
  --color-success: #26a69a;
  --color-warning: #ff9800;
  --color-lable: #d1ece9;
  --color-lablebg: #e7f4f2;
}

.react-tel-input .flag-dropdown {
  width: 0px;
}
.react-tel-input .selected-flag {
  margin-top: -2px;
}
.react-tel-input .selected-flag .arrow {
  left: -22px !important;
}

select option:hover {
  background-color: var(--color-primary) !important;
  color: #ffffff;
}
.table-container {
  @apply w-full overflow-x-auto border border-gray-200 rounded-lg shadow-sm;
}

.table {
  @apply min-w-full text-sm text-center text-gray-700;
}

.table thead {
  @apply not-dark:bg-gray-100  font-semibold text-primary;
}

.table th,
.table td {
  @apply px-4 py-3 border-b border-gray-200 dark:text-white;
}

.table tbody tr:hover td {
  @apply bg-gray-50 text-black;
}

.table td {
  @apply align-top;
}
.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker__input-container input {
  width: 100% !important;
}
.react-datepicker__input-container {
  width: 100% !important;
}
.react-datepicker {
  width: 100% !important;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari, Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
